<div>
  <% if (!currentUser) { %>
  <a href="/users/login">Log in</a>
  <a href="/users/signup">Sign up</a>
  <% } else { %>
  <a href="/users/logout">Log out</a>
  <% } %>
  <a href="/favorites">My Favorites</a>
</div>
