<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INDEX</title>
  </head>
  <body>
    <!-- <= messages %> -->
    <h2><%=viertel%> Spatis</h2>
    <p>Go lorem this ipsum</p>
    <ul>
      <% for (let spati of spatis) { %>
      <li><a href="/spatis/<%= spati._id  %>"><%=spati.title%></a></li>
      <% } %>
    </ul>

    <a href="/spatis/new">Create new</a>

    <% if ( viertel !== "All") { %>
    <a href="/">All spatis</a>
    <% } %>
  </body>
</html>
