<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN IN</title>
  </head>
  <body>
    <h1>SIGN IN</h1>
    <form action="" name="signInForm" method="post">
      <label for="firstname">Username:</label>
      <input id="firstname" type="text" />
      <br />
      <label for="password">Password:</label>
      <input id="password" type="password" />
    </form>
    <button type="submit">Submit</button>
  </body>
</html>
