<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN UP</title>
  </head>
  <body>
    <h1>SIGN UP</h1>
    <form action="/users" name="" method="POST">
      <div>
        <label for="username">Username:</label>
        <input id="username" type="text" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" />
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" type="email" />
      </div>
    </form>
    <button type="submit">Submit</button>
  </body>
</html>
