<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPATI DETAILS</title>
  </head>
  <body>
    <h1>SPATI <%= spati.title %> FOUND !</h1>
    <p>Adress: <%=spati.address%></p>
    <p>PLZ: <%=spati.PLZ%></p>
    <p>Viertel: <%=spati.viertel%></p>
    <p>Comments:</p>
    <!--  ul>
       for (let comment of comments) { %>
      <li>%=comments.comment%></li>
     
    </ul> -->
  </body>
</html>
